<div class='container'>
    <h1>Deathcore Digistore</h1>
    <p class='lead'>Skull Crush Ear Bleed Heavy Metal Toxicity.
    </p>

    <hr>
    {{outlet}}
    <div class='text-muted'><small>Foot</small></div>
</div>